# =========================
# FICHIERS SYSTÈME
# =========================
.DS_Store
Thumbs.db

# =========================
# ÉDITEURS / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# LOGS
# =========================
*.log

# =========================
# DÉPENDANCES (futurs projets)
# =========================
node_modules/
bower_components/

# =========================
# FICHIERS DE BUILD
# =========================
dist/
build/

# =========================
# FICHIERS TEMPORAIRES
# =========================
*.tmp
*.temp